extends layout

block content
  .row.justify-content-center
    .col-md-6.col-lg-4
      .card
        .card-header
          h2.card-title.mb-0 Zmiana hasła
        .card-body
          form#changePasswordForm
            .mb-3
              label.form-label Nowe hasło:
              input.form-control(type="password" name="newPassword" required)
            .mb-3
              label.form-label Powtórz hasło:
              input.form-control(type="password" name="confirmPassword" required)
            button.btn.btn-primary(type="submit") Zmień hasło
        .card-footer#messageContainer(style="display: none;")
          .alert.alert-success(role="alert")
            span#messageText

  script.
    document.getElementById('changePasswordForm').onsubmit = async (e) => {
      e.preventDefault();
      const token = document.cookie.split('; ').find(row => row.startsWith('token='))?.split('=')[1]; // pobieranie tokenu z ciasteczka
      
      if (!token) {
        document.getElementById('messageText').textContent = 'Brak tokenu! Zaloguj się ponownie.';
        document.getElementById('messageContainer').className = 'alert alert-danger';
        document.getElementById('messageContainer').style.display = 'block';
        return;
      }

      const formData = new FormData(e.target);
      const data = Object.fromEntries(formData);

      const response = await fetch('/auth/change-password', {
        method: 'POST',
        headers: { 
          'Content-Type': 'application/json',
          'Authorization': 'Bearer ' + token // DOŁĄCZAMY TOKEN
        },
        body: JSON.stringify(data)
      });

      const text = await response.text();
      alert(text);
    };